name: Run tests on PR

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_run:
    workflows: ["Upgrade uv.lock on Dependabot pip push"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    if: >
      github.event_name != 'workflow_run' ||
      github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true

      - name: Install dependencies
        run: uv sync --group test

      - name: Run tools tests
        run: uv run pytest tests/test_tools.py

      - name: Install nebius CLI
        run: curl -sSL https://storage.eu-north1.nebius.cloud/cli/install.sh | bash

      - name: Run server tests
        run: uv run pytest tests/test_server.py
